body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
}

h1 {
    font-size: 2.5em;
}

.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
}

.mySlides {
    display: none;
}

.mySlides img {
    width: 100%;
}

main {
    padding: 20px;
    text-align: center;
}

.gods {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.god {
    width: 200px;
    margin: 10px;
}

.god img {
    width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
}