body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    position: relative;
    text-align: center;
    color: white;
}

.title-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 1; /* スライドショーの上に表示するため */
}

.main-title {
    font-family: 'Kozuka Mincho Pro', serif; /* 楷書体風の書体を指定 */
    font-size: 4em; /* 大きな文字サイズ */
    margin: 0;
    color: white;
}

.subtitle {
    font-family: 'Kozuka Mincho Pro', serif; /* 楷書体風の書体を指定 */
    font-size: 1.5em; /* 大きな文字サイズ */
    color: white;
    margin: 0;
    font-style: italic; /* イタリック体にして装飾 */
}

.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
}

.mySlides {
    display: none;
}

.slide-image {
    width: 100%;
    height: auto;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: 0.4}
    to {opacity: 1}
}

main {
    padding: 20px;
    text-align: center;
}

.gods {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.god {
    width: 200px;
    margin: 10px;
}

.god img {
    width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
}